{% extends "layouts/blank.html" %}
{% block css %}
	<link href="{{helper.get('STATIC_URL')}}dist/{{data['css']}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
	<script src="{{helper.get('STATIC_URL')}}dist/{{data['js']}}"></script>
{% endblock %}
{% block body %}
	hola desde home/index.html
	<div class="col-md-12">
		<div class="row">
		<label class="texto-der" id="txtMensajeRptaImagenes"></label>
			<div class="col-md-12">
			    <label class="control-label">DNI</label><label id="imagen_dni_id" class="oculto"></label>
				<input type="file" id="input_file_dni" name="myFile" type="file" class=""/>
			</div>
			<div class="col-md-12" style="margin-top: 10px">
				<button id="upload_file_dni" class="btn btn-app pull-left"><i class="fa fa-upload" aria-hidden="true" style="margin-right:5px"></i>Subir Archivo</button>
				<progress id="progbar_dni" value="0" min="0" max="100" class="oculto" role=""></progress>
			</div>
		</div>
	</div>
{% endblock %}
{% block js_top %}
	<script type="text/javascript">
		var BASE_URL = '{{helper.get("BASE_URL")}}';
		var STATIC_URL  = '{{helper.get("STATIC_URL")}}';
	</script>
{% endblock %}