{% extends "layouts/blank.html" %}
{% block css %}
	<link href="{{helper.get('STATIC_URL')}}dist/{{data['css']}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
	<script src="{{helper.get('STATIC_URL')}}dist/{{data['js']}}"></script>
{% endblock %}
{% block body %}
	hola desde home/index.html
	<div ng-view></div>
{% endblock %}
{% block js_top %}
	<script type="text/javascript">
		var BASE_URL = '{{helper.get("BASE_URL")}}';
		var STATIC_URL  = '{{helper.get("STATIC_URL")}}';
	</script>
{% endblock %}