<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="shortcut icon" href="{{helper.get('STATIC_URL')}}favicon.ico">
  {% block css %}{% endblock %}
  {% block js_top %}{% endblock %}
</head>
<body ng-app="myApp">
		<header>
				<nav class="navbar navbar-default">
						<div class="container">
						<div class="navbar-header">
								<a class="navbar-brand" href="/">Angular Routing Example</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
								<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
								<li><a href="#/contacto"><i class="fa fa-comment"></i> Contacto</a></li>
						</ul>
						</div>
				</nav>
		</header>
		<div class="container" id="main">
				{% block body %}{% endblock %}
		</div>
  {% block js %}{% endblock %}
</body>
</html>